@font-face {
    font-family: Kornucopia;
    src: url('../assets/fonts/kornucopia.ttf');
}

$stack: system-ui, -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Open Sans',
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
