@use 'colors';
@use 'fonts';
@use 'offset';
@use 'transition';

body {
    font-family: fonts.$stack;
    background-color: colors.$background;
    color: colors.$primary;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    @extend .row-container;
    margin: 0;
    @include offset.max(width, padding, 16px);
}

footer {
    font-size: small;
    text-align: center;
    color: colors.$secondary;

    margin: 16px;
}

a {
    color: colors.$link;
    text-decoration: none;

    &:visited {
        color: colors.$lowlight;
    }

    &:hover {
        color: colors.$highlight;
    }
}

hr {
    @include offset.max(width, margin, 32px);
    border-color: colors.$tertiary;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center; // Vertical center
}

.glow-container { // Container smaller than icon for glow effect
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;

    width: 0;
    height: 0;
    margin: 40px;
    padding: 0;

    @include transition.default(box-shadow);

    .icon {
        height: 80px;
        margin: 0;
        padding: 0;
    }

    &:hover {
        box-shadow:
            0 0 50px 30px colors.$glow-inner,
            0 0 70px 45px colors.$glow-outer;
    }
}

.container-link {
    padding: 0;
}

.icon {
    &.medium {
        height: 45px;
    }

    &.small {
        height: 10px;
    }

    &.exit {
        margin-left: 8px;
    }
}

.control {
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;

    min-width: max-content;
    padding: 16px;

    a {
        color: colors.$secondary;

        margin: 0;
        padding: 16px;

        border-top: 2px solid colors.$tertiary;

        @include transition.default(color, border-color);

        &:visited {
            color: colors.$secondary;
        }

        &:hover {
            color: colors.$primary;
            border-color: colors.$secondary;
        }
    }
}

.korn-font {
    font-family: Kornucopia;
    font-weight: normal;
}

.welcome {
    text-align: center;

    width: 100%;
    margin: 0;
    padding: 0;

    h1, h2 {
        @extend .korn-font;
    }

    h1 {
        font-size: 96px;
        margin: 0;
    }

    h2 {
        font-size: 64px;
        color: colors.$secondary;
        margin: 0 0 16px 0;
    }

    .banner {
        width: 100%;
        height: 270px;
        margin: 0;
        padding: 0;

        background-image: url('../assets/images/band.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
    }

    .icon {
        @include offset.max(height, margin, 32px, $horizontal-auto: true);
    }
}

.content {
    padding: 16px;

    div {
        text-align: left;
        padding: 24px;
    }

    h1, h2 {
        width: max-content;
        padding-bottom: 4px;

        border-bottom: 1px solid colors.$tertiary;
    }

    .member {
        margin-bottom: 16px;
        padding: 0px;

        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transition: background-image 0.2s ease-in-out;

        .inner {
            display: flex;
            flex-direction: row;

            margin: 0;
            padding: 16px;

            border-radius: inherit;
            backdrop-filter: brightness(.5) blur(32px);

            .details {
                width: 130%;

                h1, h2 {
                    margin: 0;
                    border: none;
                }

                h2 {
                    color: colors.$secondary;
                }
            }

            .image-container {
                @extend .row-container;
                padding: 8px;

                width: 70%;
                min-height: 300px;

                border-radius: inherit;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                transition: background-image transition.$time ease-in-out,
                    box-shadow transition.$time linear;

                &:hover {
                    box-shadow: 2px 2px 30px colors.$background;
                }

                .control {
                    height: 25px;

                    opacity: .1;
                    @include transition.default(opacity);

                    &:hover {
                        opacity: .8;
                    }

                    &.forward {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    .dropdown {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;

        > .row-container {
            margin: 0;
            padding: 0;

            .control {
                height: 16px;
                margin-left: 16px;
                padding: 0;

                opacity: .4;

                @include transition.default(opacity);

                &:hover {
                    opacity: 1;
                }

                img {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    transition: rotate transition.$time ease-in-out;
                }
            }
        }

        > .inner {
            height: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;

            @include transition.default(height);
        }

        &.expanded {
            > .row-container .control img {
                rotate: 180deg;
            }
        }
    }

    #albums .inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        .album {
            display: flex;
            flex-direction: column;

            width: 250px;
            margin: 16px;
            padding: 0;

            @include transition.default(scale);

            img {
                width: inherit;
                margin: 0;
                padding: 0;

                border-radius: 8px;
            }

            .label {
                text-align: center;

                .title {
                    font-style: italic;
                }

                .year {
                    color: colors.$secondary;
                }
            }

            &:hover {
                scale: 1.1;
            }
        }
    }
}

.right {
    margin-left: auto;
}

.dim {
    opacity: .3;

    @include transition.default(opacity);

    &:hover {
        opacity: .8;
    }
}
