:root {
    --color-fg: #ffffff;
    --color-fg-alt: #d3d3d3;
    --color-bg-alt: #505050;
    --color-transition-time: 250ms;
}

@font-face {
    font-family: Kornucopia;
    src: url("../static/fonts/kornucopia.ttf");
}

html, body {
    background-color: #000000;
    color: var(--color-fg);
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

header {
    width: calc(100% - 32px);
    margin: 0px;
    padding: 16px;
}

footer {
    color: var(--color-fg-alt);
    margin: 16px;
    font-size: small;
    text-align: center;
}

a {
    color: #94aff8;
    text-decoration: none;
}

a:hover {
    color: #00e1ff !important;
}

a:visited {
    color: #c17fd1;
}

hr {
    border-color: var(--color-bg-alt);
    margin: 32px;
    width: 90%;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertical center */
}

.glow-container { /* container smaller than icon for glow effect */
    margin: 50px;
    padding: 0px;
    width: 0px;
    height: 0px;
    overflow: visible;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow var(--color-transition-time);
}

.glow-container .icon {
    padding: 0px;
    margin: 0px;
    height: 100px;
}

.glow-container:hover {
    box-shadow:
        0 0 50px 30px #ff00ff, /* inner magenta */
        0 0 70px 45px #00ffff; /* outer cyan */
}

.container-link {
    padding: 0px;
}

.icon.medium {
    height: 60px;
}

.icon.small {
    height: 15px;
}

.exit {
    margin-left: 8px;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 16px;
}

.nav a {
    margin: 0px;
    padding: 16px;
    border-top: 2px solid var(--color-bg-alt);
    transition: color var(--color-transition-time);
    transition: border-color var(--color-transition-time);
}

.nav a, .nav a:visited {
    color: var(--color-fg-alt);
}

.nav a:hover {
    color: var(--color-fg) !important;
    border-color: var(--color-fg-alt);
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.welcome h1, h2 {
    font-family: Kornucopia;
}

.welcome h1 {
    font-size: 96px;
    font-weight: normal;
    margin: 0px;
}

.welcome h2 {
    color: var(--color-fg-alt);
    font-size: 64px;
    font-weight: normal;
    margin: 0 0 16px 0;
}

.welcome .banner {
    width: 100%;
    height: 270px;
    margin: 0;
    padding: 0;
    background-image: url("../static/images/band.jpg");
    background-size: cover;
    background-position-y: bottom;
}

.welcome .icon {
    margin: 16px;
    height: 220px;
}

.right {
    margin-left: auto;
}

.dim {
    opacity: 0.3;
    transition: opacity var(--color-transition-time);
}

.dim:hover {
    opacity: 0.8;
}
