:root {
    --color-fg: #ffffff;
    --color-fg-alt: #d3d3d3;
    --color-bg-alt: #505050;
    --color-transition-time: 250ms;
}

@font-face {
    font-family: Kornucopia;
    src: url("../static/fonts/kornucopia.ttf");
}

html, body {
    background-color: #000000;
    color: var(--color-fg);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

header {
    width: calc(100% - 32px);
    margin: 0px;
    padding: 16px;
}

footer {
    color: var(--color-fg-alt);
    margin: 16px;
    font-size: small;
    text-align: center;
}

a {
    color: #94aff8;
    text-decoration: none;
}

a:hover {
    color: #00e1ff !important;
}

a:visited {
    color: #c17fd1;
}

hr {
    border-color: var(--color-bg-alt);
    margin: 32px;
    width: calc(100% - 64px);
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertical center */
}

.glow-container { /* container smaller than icon for glow effect */
    margin: 40px;
    padding: 0px;
    width: 0;
    height: 0;
    overflow: visible;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow var(--color-transition-time);
}

.glow-container .icon {
    padding: 0px;
    margin: 0px;
    height: 80px;
}

.glow-container:hover {
    box-shadow:
        0 0 50px 30px #ff00ff, /* inner magenta */
        0 0 70px 45px #00ffff; /* outer cyan */
}

.container-link {
    padding: 0px;
}

.icon.medium {
    height: 45px;
}

.icon.small {
    height: 10px;
}

.exit {
    margin-left: 8px;
}

.nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 16px;
    min-width: max-content;
}

.nav a {
    margin: 0;
    padding: 16px;
    border-top: 2px solid var(--color-bg-alt);
    transition: color var(--color-transition-time);
    transition: border-color var(--color-transition-time);
}

.nav a, .nav a:visited {
    color: var(--color-fg-alt);
}

.nav a:hover {
    color: var(--color-fg) !important;
    border-color: var(--color-fg-alt);
}

.content {
    padding: 16px;
}

.welcome {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.welcome h1, .welcome h2 {
    font-family: Kornucopia;
}

.welcome h1 {
    font-size: 96px;
    font-weight: normal;
    margin: 0px;
}

.welcome h2 {
    color: var(--color-fg-alt);
    font-size: 64px;
    font-weight: normal;
    margin: 0 0 16px 0;
}

.welcome .banner {
    width: 100%;
    height: 270px;
    margin: 0;
    padding: 0;
    background-image: url("../static/images/band.jpg");
    background-size: cover;
    background-position-y: bottom;
}

.welcome .icon {
    margin: 32px auto 32px auto;
    height: calc(100% - 64px);
}

.content div {
    padding: 24px;
    text-align: left;
}

.content h1, .content h2 {
    padding-top: 8px;
    width: max-content;
    border-top: 1px solid var(--color-bg-alt);
}

.member {
    padding: 0px !important;
    background-size: cover;
}

.member .inner {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 16px;
    backdrop-filter: brightness(.5) blur(32px);
}

.member h1, .member h2 {
    border: none !important;
    margin: 0;
}

.member h2 {
    color: var(--color-fg-alt);
    margin: 0;
    font-style: italic;
}

.image-container {
    width: 30%;
}

.member#jonathan {
    background-image: url("../static/images/members/jonathan/1.jpg");
}

.right {
    margin-left: auto;
}

.dim {
    opacity: .3;
    transition: opacity var(--color-transition-time);
}

.dim:hover {
    opacity: .8;
}
